{% extends 'base.html.twig' %}

{% block title %}Livreur index{% endblock %}

{% block body %}
<div class="card" style="width: 76%;
    margin-left: 22%;
    margin-top: 7%;">
    <div class="card-header">
        <h4>Liste des liverurs</h4>

        <a class="btn btn-primary" style="float:right;" href="{{ path('livreur_new') }}">
            nouvel enregistrement
        </a>
    </div>
    <div class="card-body">
        <table class="table">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Nom</th>
                    <th>Prenom</th>
                    <th>Disponibilite</th>
                    <th>Cin</th>
                    <th>Numtlf</th>
                    <th>actions</th>
                </tr>
            </thead>
            <tbody>
                {% for livreur in livreurs %}
                <tr>
                    <td>{{ livreur.id }}</td>
                    <td>{{ livreur.nom }}</td>
                    <td>{{ livreur.prenom }}</td>
                    <td>{{ livreur.disponibilite ? 'Yes' : 'No' }}</td>
                    <td>{{ livreur.cin }}</td>
                    <td>{{ livreur.numtlf }}</td>
                     <td style="float: left;">
                        <a class="btn btn-primary" 
                            href="{{ path('livreur_show', {'id': livreur.id}) }}">
                            show
                        </a>
                        <a class="btn btn-success" 
                            href="{{ path('livreur_edit', {'id': livreur.id}) }}">
                            edit
                        </a>
                        
                      
                    </td>
                
                </tr>
                {% else %}
                <tr>
                    <td colspan="7">no records found</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>

{% endblock %}